//Colors
$primary: #1360d2;
$secondary: #0e1b3d;
$tertiary: #696f83;
$offwhite: #f4f4f4;
$green: #28a745;
$green1: #155724;
$red: #dc3545;
$red1: #721c24;
$orange: #ffc107;
$white: #ffffff;
$teal: #17a2b8;
$gray: #bdbdbd;
$gray1: #f5f5f5;
$gray2: #e4e4e426;
$gray3: #696f83;

//operations
$success: $green;
$success-txt: $green1;
$danger: $red;
$danger-txt: $red1;
$warning: $orange;
$info: $teal;
$border: $gray;
$sideoverylay: $gray3;
$label: $secondary;
$background: $gray1;
$pagebackground: $white;
$pageheader: $secondary;
$tableheader: $gray3;
$dialogheader: $secondary;
