// Define custom color shades
$dt-primary: (
  50: lighten(#1360d2, 40%),
  100: lighten(#1360d2, 30%),
  200: lighten(#1360d2, 20%),
  300: lighten(#1360d2, 10%),
  400: darken(#1360d2, 10%),
  500: #1360d2,
  600: darken(#1360d2, 20%),
  700: darken(#1360d2, 30%),
  800: darken(#1360d2, 40%),
  900: darken(#1360d2, 50%),
  A100: lighten(#1360d2, 50%),
  A200: lighten(#1360d2, 60%),
  A400: lighten(#1360d2, 70%),
  A700: lighten(#1360d2, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);
$dt-secondary: (
  50: lighten(#0e1b3d, 40%),
  100: lighten(#0e1b3d, 30%),
  200: lighten(#0e1b3d, 20%),
  300: lighten(#0e1b3d, 10%),
  400: darken(#0e1b3d, 10%),
  500: #0e1b3d,
  600: darken(#0e1b3d, 20%),
  700: darken(#0e1b3d, 30%),
  800: darken(#0e1b3d, 40%),
  900: darken(#0e1b3d, 50%),
  A100: lighten(#0e1b3d, 50%),
  A200: lighten(#0e1b3d, 60%),
  A400: lighten(#0e1b3d, 70%),
  A700: lighten(#0e1b3d, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);

$dt-tertiary: (
  50: lighten(#696f83, 40%),
  100: lighten(#696f83, 30%),
  200: lighten(#696f83, 20%),
  300: lighten(#696f83, 10%),
  400: darken(#696f83, 10%),
  500: #696f83,
  600: darken(#696f83, 20%),
  700: darken(#696f83, 30%),
  800: darken(#696f83, 40%),
  900: darken(#696f83, 50%),
  A100: lighten(#696f83, 50%),
  A200: lighten(#696f83, 60%),
  A400: lighten(#696f83, 70%),
  A700: lighten(#696f83, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);

$dt-success: (
  50: lighten(#28a745, 40%),
  100: lighten(#28a745, 30%),
  200: lighten(#28a745, 20%),
  300: lighten(#28a745, 10%),
  400: darken(#28a745, 10%),
  500: #28a745,
  600: darken(#28a745, 20%),
  700: darken(#28a745, 30%),
  800: darken(#28a745, 40%),
  900: darken(#28a745, 50%),
  A100: lighten(#28a745, 50%),
  A200: lighten(#28a745, 60%),
  A400: lighten(#28a745, 70%),
  A700: lighten(#28a745, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);
$dt-danger: (
  50: lighten(#dc3545, 40%),
  100: lighten(#dc3545, 30%),
  200: lighten(#dc3545, 20%),
  300: lighten(#dc3545, 10%),
  400: darken(#dc3545, 10%),
  500: #dc3545,
  600: darken(#dc3545, 20%),
  700: darken(#dc3545, 30%),
  800: darken(#dc3545, 40%),
  900: darken(#dc3545, 50%),
  A100: lighten(#dc3545, 50%),
  A200: lighten(#dc3545, 60%),
  A400: lighten(#dc3545, 70%),
  A700: lighten(#dc3545, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);
$dt-warning: (
  50: lighten(#ffc107, 40%),
  100: lighten(#ffc107, 30%),
  200: lighten(#ffc107, 20%),
  300: lighten(#ffc107, 10%),
  400: darken(#ffc107, 10%),
  500: #ffc107,
  600: darken(#ffc107, 20%),
  700: darken(#ffc107, 30%),
  800: darken(#ffc107, 40%),
  900: darken(#ffc107, 50%),
  A100: lighten(#ffc107, 50%),
  A200: lighten(#ffc107, 60%),
  A400: lighten(#ffc107, 70%),
  A700: lighten(#ffc107, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);
$dt-info: (
  50: lighten(#17a2b8, 40%),
  100: lighten(#17a2b8, 30%),
  200: lighten(#17a2b8, 20%),
  300: lighten(#17a2b8, 10%),
  400: darken(#17a2b8, 10%),
  500: #17a2b8,
  600: darken(#17a2b8, 20%),
  700: darken(#17a2b8, 30%),
  800: darken(#17a2b8, 40%),
  900: darken(#17a2b8, 50%),
  A100: lighten(#17a2b8, 50%),
  A200: lighten(#17a2b8, 60%),
  A400: lighten(#17a2b8, 70%),
  A700: lighten(#17a2b8, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);

$dt-background: (
  50: lighten(#f4f4f4, 40%),
  100: lighten(#f4f4f4, 30%),
  200: lighten(#f4f4f4, 20%),
  300: lighten(#f4f4f4, 10%),
  400: darken(#f4f4f4, 10%),
  500: #f4f4f4,
  600: darken(#f4f4f4, 20%),
  700: darken(#f4f4f4, 30%),
  800: darken(#f4f4f4, 40%),
  900: darken(#f4f4f4, 50%),
  A100: lighten(#f4f4f4, 50%),
  A200: lighten(#f4f4f4, 60%),
  A400: lighten(#f4f4f4, 70%),
  A700: lighten(#f4f4f4, 80%),
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);
